<article class="int-review">
    <div class="int-review__photo-content">
        <a class="int-review__link int-review__link--person " href="#">
            <img src="../../../images/personal-photo.png" alt="" class="int-review__photo">
        </a>
    </div>

    <div class="int-review__main int-review-main">
        <div class="int-review-main__info">
            <div class="int-review-main__user-info">
                <a class="int-review-main__name" href="#">User name</a>
                <span class="int-review-main__status">{{variable}}</span>
            </div>
            <div class="int-review-main__review-numbers">
                <div class="int-review-main__comments"><span class="icon-chat"></span> 2</div>
                <div class="int-review-main__time"><span class="icon-clock"></span> 20m</div>
            </div>
        </div>
        <h2 class="int-review-main__title-item">Item title</h2>
        <p class="int-review-main__text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. </p>
        <ul class="int-review-main__tags int-tags">
            <li class="int-tags__item"><span class="int-tags__icon icon-tag"></span><a href="#" class="int-tags__link">tag1</a></li>
            <li class="int-tags__item"><a href="#" class="int-tags__link">tag2</a></li>
            <li class="int-tags__item"><a href="#" class="int-tags__link">tag3</a></li>
        </ul>
    </div>
</article>
