<article class="int-review int-flex int-review--flex">
    <div class="int-review__personal-photo int-personal-photo">
        <a class="int-personal-photo__link " href="#">
            <img src="../../../images/personal-photo.png" alt="" class="int-personal-photo__image">
        </a>
    </div>
    <div class="int-review__info int-review-info">
        <div class="int-flex" >
            <div class="int-flex">
                <a class="int-review-info__name int-personal-photo__name" href="#">User name</a>
                <div class="int-review-info__status ">
                    <span class="int-review-info__status-name">{{variable}}</span>
                </div>
            </div>
            <div class="int-flex">
                <div class="int-review-info__comments"><span class="icon-chat "></span> 2</div>
                <div class="int-review-info__time"><span class="icon-clock "></span> 20m</div>
            </div>

        </div>
        <h2 class="int-review-info__title-item">Item title</h2>
        <p class="int-review-info__text">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. </p>
        <ul class="int-review-info__tags int-tags int-flex">
            <span class="int-tags-icon icon-tag"></span>
            <li class="int-tags__item"><a href="#" class="int-tags__link">tag1</a></li>
            <li class="int-tags__item"><a href="#" class="int-tags__link">tag2</a></li>
            <li class="int-tags__item"><a href="#" class="int-tags__link">tag3</a></li>
        </ul>
    </div>
</article>
