.int-new-item-modal--tonner{
    visibility: hidden;
    @include flex(center,center);
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.int-new-item-modal{
    background-color: $nav-color;
    padding: 2rem;
    width: 90%;
    color: $white-color;
    position: relative;
    @media screen and (min-width: $min-tablet-size){
        width: 40%;
    }
    &__heading{
        font-size: 2.5rem;
    }
    &__cross{
        @include cross();
    }
    &__form{
        @include flex(flex-start, stretch);
        flex-direction: column;
    }
    &__form-item{
        margin: 0.5rem 0;
    }
    &__btns{
        @include flex(space-around, stretch);
    }
    &__btn{
        width: 30%;
        background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        border-radius: 6px;
        margin: 1rem 0;
    }
}

