<div class="int-new-item-modal--tonner">
    <div class="int-new-item-modal">
        <span class="int-new-item-modal__cross"></span>
        <h2 class="int-new-item-modal__heading">Write your comment</h2>
        <form action="" class="int-new-item-modal__form ">
            <label for="tags" class="int-new-item-modal__form-item">Tags</label>
            <input type="text" id="tags" placeholder="tag1, tag2..." class="int-new-item-modal__form-item">
            <label for="comment" class="int-new-item-modal__form-item">Comment text</label>
            <textarea rows="5" id="comment" placeholder="input your comment" class="int-new-item-modal__form-item"></textarea>
            <div class="int-new-item-modal__btns">
                <input type="submit" class="int-new-item-modal__btn" >
                <input type="reset" class="int-new-item-modal__btn" >
            </div>
        </form>
    </div>
</div>

