<ul class="int-aside__list">
    <li class="int-aside__item">
        <a href="#" class="int-aside__link int-aside__link--strong">
            <strong>Submenu</strong>
        </a>
    </li>
    <li class="int-aside__item"><a href="#" class="int-aside__link">Submenu item</a></li>
    <li class="int-aside__item"><a href="#" class="int-aside__link">Submenu item</a></li>
    <li class="int-aside__item"><a href="#" class="int-aside__link">Submenu item</a></li>
</ul>
