.int-page-title{
    padding: 1.9rem 3rem;
    text-align: center;
    background-color: $white-color;
    @media screen and (min-width: 780px){
        text-align: left;
    }
}
.int-page-title__heading{
    color: $theme-color-dark;
    display: inline;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 3rem;
    margin: 0;
    @include li-select(auto, 0, 1.3rem, 1rem, 1rem, 2px, $theme-color-dark, $theme-color-dark);
    @media screen and (min-width: 780px){
        font-size: 3.6rem;
    }
}
.int-choose-city--wrap{
    position: relative;
    display: inline-block;
    padding-left: 2rem;
    &:after{
        content: ' ';
        border-bottom: .2rem dashed $theme-color-dark;
        position: absolute;
        left: 2rem;
        right: 2rem;
        bottom: 0;
        display: inline-block;
    }
    option{
        font-size: 0.5em;
    }
}
.int-choose-city{
    @include select(1.6rem);
}
.int-choose-city__select{

    box-sizing: content-box;
}
