.int-page-title{
    color: $theme-color-dark;
    display: inline-block;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 3rem;
    padding-bottom: 0.3rem;
    position: relative;
    margin: 1.9rem 3rem;
    text-align: center;
    background-color: $white-color;
    &:after{
        content: ' ';
        border-bottom: .3rem dashed $theme-color-dark;
        position: absolute;
        width: 13.5rem;
        left: calc((100% - 13.5rem) / 2);
        bottom: 0;
        display: inline-block;
    }

    @media screen and (min-width: 386px){
        &:after{
            left: calc((100% - 14.8rem));
        }
    }
    @media screen and (min-width: $min-tablet-size){
        font-size: 3.6rem;
        text-align: left;
        &:after{
            width: 16.2rem;
            left: calc((100% - 17.5rem));
        }
    }
    &__select{
        @include select(1.6rem);
        padding: 0 1.6rem;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='15px' height='15px' viewBox='0 0 451.847 451.847' style='enable-background:new 0 0 451.847 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: right 70%;
        option{
            font-size: 0.5em;
        }
    }
}

