<h1 class="int-page-title">Page title in
    <select name="city-select" id="resizing_select" class="int-page-title__select">
        <option value="new-york">New York</option>
        <option value="minsk">Minsk</option>
        <option value="grodno">Grodno</option>
    </select>
</h1>

