<section class="int-page-title">
    <h1 class="int-page-title__heading">Page title in
        <div class="int-choose-city__select--dash">
            <select name="city-select" id="int-city-select" class="int-choose-city__select">
                <option value="new-york">New York</option>
                <option value="minsk">Minsk</option>
                <option value="grodno">Grodno</option>
            </select>
        </div>
    </h1>
</section>
