{{#extend "_site-layout" title="Homepage"}}
    {{#content "main-content"}}
        {{> ../../components/page-title/page-title}}
        {{> ../../components/posts-managment/posts-managment}}
        {{> ../../components/new-item-modal/new-item-modal}}
        <section class="int-homepage__review-wrapper">
            {{#repeat 4}}
                {{> ../../components/review/review variable="Member"}}
            {{/repeat}}
            {{> ../../components/pagination/pagination}}
        </section>
    {{/content}}
{{/extend}}
