{{#extend "_master-layout"}}
    {{#content "body"}}
        {{#block "header"}}
            {{> ../../components/header/header}}
        {{/block}}
        <div class="int-main">
            <aside  class=" int-aside">
                {{#block "aside"}}
                    {{#repeat 4}}
                        {{> ../../components/submenu/submenu}}
                    {{/repeat}}
                {{/block}}
            </aside>
            <main class="int-main-content" id="maincontent">
                {{#block "main-content"}}
                {{/block}}
            </main>
        </div>
        {{#block "footer"}}
            {{> ../../components/footer/footer}}
        {{/block}}
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script type="text/javascript">

             document.querySelector('.int-post-managment__item--add').addEventListener('click', function(){
                 document.querySelector('.int-new-item-modal--tonner').style.visibility = 'visible';
             });

             document.querySelector('.int-new-item-modal__cross').addEventListener('click', function(){
                 document.querySelector('.int-new-item-modal--tonner').style.visibility = 'hidden';
             });

        </script>

        <script type="text/javascript">
            document.querySelector('.int-header__menu-burger').addEventListener('click', function(){
                document.querySelector('.int-nav-content').style.display = 'block';
                document.querySelector('.int-nav__cross').style.display = 'inline';
            });

            document.querySelector('.int-nav__cross').addEventListener('click', function(){
                document.querySelector('.int-nav-content').style.display = 'none';
            });
        </script>

        <script>
            $jquery(function() {
                $(document).ready(function() {
                    $('#resizing_select').change(function(){
                        $("#width_tmp_option").html($('#resizing_select option:selected').text());
                        $(this).width($("#width_tmp_select").width());
                    });
                });
            });
        </script>
    {{/content}}
{{/extend}}
