.int-header-content{
    background-color: $theme-color-dark;
}

.int-header{
    max-width: $page-max-width;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    @include flex(space-between, center);
    &__item *{
        color: $white-color;
        @media screen and (min-width: $min-tablet-size){
            color: $main-font-color;
            &:hover{
                color: $white-color;
            }
        }
    }
    &__item--mobile{
        @include mobile();
    }
    &__item--desktop{
        @include desktop();
    }
    &__icon{
        @include icon(normal);
    }
    &__item--choose-city{
        @include li-select(1rem, 0.7rem, auto, 0.5rem, 0.5rem, 1px, $main-font-color ,$white-color);
    }
    &__select-city{
        @include select(1.6rem);
    }

    &__choose-city{
        @media screen and (min-width: $min-tablet-size){
            margin-right: 2.5rem;
        }

    }
    &__item--notifications{
        margin: 0  1.5rem 0 2rem;
    }
    &__item *{
        cursor: pointer;
    }
    font-size: 1.8rem;
    @media screen and (min-width: $min-tablet-size){
        font-size: 1.4rem;
    }

    @media screen and (min-width: $min-tablet-size) {
        padding: 1.8rem 2.7rem;
    }
    @media screen and (min-width: 1310px) {
        padding: 1.5rem 0.6rem;
    }

}


.int-header-logo{
    @media screen and (min-width: $min-tablet-size){
        flex-basis: 48.4%;
    }
    @media screen and (min-width: 1000px){
        flex-basis: 60%;
    }

    &__link{
        display: block;
    }

    &__image{
        display: block;
        height: 3rem;
    }
}

.int-header-person{
    @include flex(flex-start, center);
    &:hover{
        .int-header-person__name{
            color: $white-color;
        }
    }
    @media screen and (min-width: $min-tablet-size){
        margin: 0 2rem 0 3rem;
    }
    &__link{
        @include person-link(3rem, 3rem);
    }

    &__image{
        @include person-image();
    }

    &__name{
        padding-right: 0.9rem;
    }
}

.int-nav-content{
    background-color: $nav-color;
}
.int-nav{
    margin: 0 auto;
    padding: 0;
    max-width: $page-max-width;
    position: relative;
    &__item *{
        color: $white-color;
    }
    &__cross{
        @include cross();
        display: none;
    }
    &__list{
        @include flex(flex-start, center);
        flex-direction: column;
        @media screen and (min-width: $min-tablet-size){
            flex-direction: row;
        }
    }
    &__link{
        display: inline-block;
        padding: 0.95rem;
    }
    &__link--active,
    &__link:hover{
        position: relative;
        &:before{
            content: " ";
            border-top: 5px solid $white-color;
            border-radius: 0 0 .2rem .2rem;
            position: absolute;
            display: inline-block;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
    &__item{
        padding: 0;
    }
    &__item *{
        font-size: 1.8rem;
        cursor: pointer;
        @media screen and (min-width: $min-tablet-size){
            font-size: 1.4rem;
        }
    }
}
