<header class="int-header-content">
    <ul class="int-header">
        <li class="int-header__item int-header__item--mobile int-header__menu-burger">
            <span class="int-header__icon icon-menu-burger"></span>
        </li>
        <li class="int-header__item int-header-logo">
            <a class="int-header-logo__link" href="#">
                <img src="../../../images/logo.png" alt="" class="int-header-logo__image">
            </a>
        </li>
        <li class="int-header__item int-header__item--choose-city int-header__item--desktop">
            <select name="city-select" id="int-city-select" class="int-header__select-city ">
                <option value="new-york">New York</option>
                <option value="minsk">Minsk</option>
                <option value="grodno">Grodno</option>
            </select>
        <li class="int-header__item int-header__item--mobile">Page title</li>
        <li class="int-header__item int-header__item--notifications int-header__item--desktop">
            <a class="int-header__link" href="#">
                <span class="icon-notifications int-header__icon"></span>
            </a>
        </li>
        <li class="int-header__item int-header__item--desktop">
            <a class="int-header__link" href="#">
                <span class="icon-message int-header__icon"></span>
            </a>
        </li>
        <li class="int-header__item int-header-person">
            <span class="int-header-person__name int-header__item--desktop">User name</span>
            <a class="int-header__link int-header-person__link" href="#">
                <img src="../../../images/personal-photo.png" alt="" class="int-header-person__image">
            </a>
        </li>
        <li class="int-header__item">
            <a class="int-header__link" href="#">
                <span class="icon-search int-header__icon"></span>
            </a>
        </li>
    </ul>

    <div class="int-nav-content int-header__item--desktop ">
        <nav class="int-nav">
            <span class="int-nav__cross"></span>
            <ul class="int-nav__list">
                <li class="int-nav__item">
                    <a class="int-nav__link int-nav__link--active" href="#">Menu item</a>
                </li>
                <li class="int-nav__item">
                    <a class="int-nav__link" href="#">Menu item</a>
                </li>
                <li class="int-nav__item">
                    <a class="int-nav__link" href="#">Menu item</a>
                </li>
                <li class="int-nav__item">
                    <a class="int-nav__link" href="#">Menu item</a>
                </li>
                <li class="int-nav__item">
                    <a class="int-nav__link" href="#">Menu item</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

