<div class="int-footer-content">
    <footer class="int-footer">
        <nav class="int-footer__top">
            <ul>
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        About
                    </a>
                </li>
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        Policies
                    </a>
                </li>
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        Site Map
                    </a>
                </li>
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        Help
                    </a>
                </li>
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="int-footer__bottom">
            <img class="int-footer__logo" src="../../../images/logo-footer.png" alt="logo">
            <p class="int-footer__rights">© 2015. Qulix Systems. All rights reserved.</p>
        </div>
    </footer>
</div>

