.int-footer-content{
    margin: 0 auto;
    max-width: $page-max-width;
    position: relative;
}
.int-footer{
    background-color: $body-color;
    font-size: 1.2rem;
    @media screen and (min-width: $min-tablet-size){
        position: absolute;
        left: 17.1rem;
        width: calc(100% - 17.1rem);
        bottom: calc(100%);
    }
    @media screen and (min-width: 966px){
        position: absolute;
        left: 17.8125%;
        width: calc(100% - 17.8125%);
        bottom: calc(100%);
    }

    &__top ul{
        @include flex (space-evenly, stretch);

        @media screen and (min-width: $min-tablet-size){
            justify-content: flex-start;
            padding: 0 2rem;
        }
    }

    .int-footer__items-link{
        color: $main-font-color;
        display: inline-block;
        line-height: 4.1rem;
        &:hover, &:focus{
            color: $main-font-color;
            text-decoration: underline;
        }
        @media screen and (min-width: $min-tablet-size){
            line-height: 4.5rem;
            padding: 0 1rem;
        }
    }

    &__bottom{
        display: none;
        padding-left: 3rem;
        border-top: 1px solid $white-color;
        align-items: baseline;
        @media screen and (min-width: $min-tablet-size){
            @include flex(flex-start, center);
        }
    }

    &__logo{
        height: 1.5rem;
        margin-right: 1.4rem;
    }
    &__rights{
        font-size: 1.2rem;
        line-height: 4.4rem;
        margin-bottom: 0;
        color: $main-font-color;
    }
}


