<div class="int-footer-content">
    <footer class="int-footer">
        <div class="int-footer__top">
            <ul class="int-flex int-footer__top--flex">
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        About
                    </a>
                </li>
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        Policies
                    </a>
                </li>
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        Site Map
                    </a>
                </li>
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        Help
                    </a>
                </li>
                <li class="int-footer_items">
                    <a href="#" class="int-footer__items-link">
                        Contact us
                    </a>
                </li>
            </ul>
        </div>
        <div class="int-footer__bottom int-flex">
            <div class="int-footer__logo">
                <img src="../../../images/logo-footer.png" alt="logo">
            </div>
            <p class="int-footer__rights">© 2015. Qulix Systems. All rights reserved.</p>
        </div>
    </footer>
</div>

