//@import "../fonts/fontello/css/fontello";
@import "../fonts/fontello-icons/css/fontello.css";
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/open-sans-v17-latin-regular.woff') format('woff'),
    url('../fonts/open-sans/open-sans-v17-latin-regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/open-sans-v17-latin-600.woff') format('woff'),
    url('../fonts/open-sans/open-sans-v17-latin-600.woff2') format('woff2');
    font-weight: 600;
}
