//@import "../fonts/fontello/css/fontello";
@import "../fonts/fontello-icons/css/fontello.css";
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans/open-sans-v17-latin-regular.woff') format('woff2'),
    url('../fonts/open-sans/open-sans-v17-latin-regular.woff2') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans/open-sans-v17-latin-600.woff') format('woff2'),
    url('../fonts/open-sans/open-sans-v17-latin-600.woff2') format('woff');
}
