<div class="int-pagination">
    <button class="int-pagination__button int-pagination__button--prev">Previous</button>
    <button class="int-pagination__button int-pagination__button--next">Next</button>
</div>
