<section class="int-post-managment">
    <div class="int-post-managment__item int-post-managment__item--search ">
        <span class="icon-search int-post-managment__icon int-post-managment__icon--search"></span>
        <input type="text" class="int-post-managment__input" id="formGroupSearch" placeholder="Search...">
    </div>
    <div class="int-post-managment__item int-post-managment__item--add" >
        <span class="icon-plus-add int-post-managment__icon"></span>
        <span class="int-post-managment__new-item-text">New item</span>
    </div>
    <div class="int-post-managment__item">
        <span class="icon-filter int-post-managment__icon"></span>
    </div>
</section>
