<section class="int-post-managment int-flex int-post-managment--flex">
    <div class="int-post-managment__search int-search int-flex">
        <span class="int-search__icon icon-search int-icon"></span>
        <input type="text" class="int-search__input" id="formGroupSearch" placeholder="Search...">
    </div>
    <div class="int-post-managment__add int-add int-flex" >
        <span class="int-add__icon icon-plus-add int-icon"></span>
        <span class="int-add__text">New item</span>
    </div>
    <div class="int-post-managment__filter int-filter">
        <span class="int-filter__icon icon-filter int-icon"></span>
    </div>
</section>
