.int-post-managment{
    background-color: $theme-color-light;
    padding: 1.5rem 2.5rem;
    @include flex(flex-start, stretch);
    @media screen and (min-width: $min-tablet-size) {
        padding: 0.5rem 3rem;
    }
    &__icon{
        @include icon(2rem);
    }
    &__item {
        color: $main-font-color;
        font-size: 1.4rem;
        @include flex(flex-start, center);
        &:hover {
            * {
                @include int-post-managment--hover();
            }
        }
    }

    &__item--search{
        position: relative;
    }
    &__input{
        display: inline-block;
        border: none;
        width: 100%;
        line-height: 3.8rem;
        padding: 0 1rem;
        background-color: inherit;
        @media screen and (min-width: $min-tablet-size){
            display: inline-block;
            border: 1px solid $search-border;
            background-color: $white-color;
            border-radius: 0.3rem;
            width: 28rem;
            line-height: 3.8rem;
            padding: 0 1rem;
        }
    }
    &__icon--search{
        @media screen and (min-width: $min-tablet-size){
            display: inline-block;
            position: absolute;
            right: 1rem;
        }
    }
    &__item--add{
        margin-left: auto;
        margin-right: 2rem;
        font-family: Georgia, Times, "Times New Roman", serif;
        @media screen and (min-width: $min-tablet-size){
            margin-right: 8rem;
        }
    }
    &__new-item-text{
        @include desktop();
    }
}


